[Unit]
Description=Git auto-pull at startup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=pi
Group=pi
ExecStart=/home/pi/fakeknxpv/services/git-update.sh
WorkingDirectory=/home/pi/fakeknxpv
StandardOutput=journal
StandardError=journal
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
